root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = tab
tab_width = 4

[Dockerfile*]
indent_size = 4

# Two trailing spaces are a hard line break in Markdown; don't strip them
[*.md]
trim_trailing_whitespace = false
